* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0 auto;
}
.navfirstspace{
    background-color: #333;
    margin: 0px;
    padding: 0px;
}
.navSecondspace{
    margin: 0px;
    padding: 0px;
}
.topnav {
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 8px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 24px;
    margin: 25px;
    margin-right: 70px
}

li a:hover {
    color:#ebebeb;
    text-decoration: none;
    background-color: #111;
} */


.silder {
    width: 100%;
    background-color: teal;
}

.Nproduct {
    width: 100%;
    height: 120px;

}

.Nproduct pre {
    text-align: center;
    font-size: 24px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    display: block;
    padding-top: 20px;

}
.heading{
    width: 250px;
    margin: 10px auto 10px auto;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    text-align: center;
    border-top: 2.9px solid #ebebeb;
    border-bottom: 2.9px solid #ebebeb;
}
#onerow {
  
    overflow: auto;
    padding: 25px;
    
}
h2 a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
h2 a:hover{
    text-decoration: none;
    
    
}
h2{
    color: black;
    text-align: center;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.first,.Second,.thired,.four{
    margin: 20px 40px 20px 45px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    background:#ebebeb;
    
}
.first {
    width: 256px;
    background:#ebebeb;

}

.Second {
    width: 256px; 
}
.thired{
    width: 256px;
    
    
}
.four{
    width: 256px;
   
    
  
}

footer{
    width: 100%;
    background-color:#333;
    height:100px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}